<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remote control for computer</title>
</head>
<body>
<center>
    <button id = "Exit" onclick = myFunc("Exit")>Exit</button>
<input type = "text" id = "words">
<button id = "Button" value = "Go" onclick=myFunc("Go")>Send </button><br>
    <button id = "Button4" value = "Esc" onclick = myFunc("esc")>Esc</button>
    <button id = "Button2" value = "Enter" onclick = myFunc("enter")>Enter</button>
<button id = "Button3" value = "Backspace" onclick = myFunc("backspace")>Back</button>
    <button id = "Button10" value = "Delete" onclick = myFunc("delete")>Supr</button><br>

    <button id = "Button5" value = "Up" onclick = myFunc("up")>Up</button><br>
<button id = "Button7" value = "Left" onclick = myFunc("left")>Left</button>
<button id = "Button6" value = "Down" onclick = myFunc("down")>Down</button>
<button id = "Button8" value = "Right" onclick = myFunc("right")>Right</button><br>
    <button id = "Button9" value = "Space" onclick = myFunc("space")>Space</button>

</center>


<script>

    const myFunc = keyword => {

        const ip = 'http://192.168.0.96:8000/';                                                   
        let sender = ip;
        let x = new XMLHttpRequest();
        x.onreadystatechange = ()=>{
            if (x.readyState === 4 && x.status === 200)
                document.getElementById("words").value = ''
        };
        if (keyword === "Exit") sender += "CodeEscape_Exit";
        else if (keyword === 'Go') sender += document.getElementById("words").value;
        else sender += "keyboard.Key." + keyword + "?" + document.getElementById("words").value;

        x.open("GET", sender, true);
        x.send( null );
    };


</script>
</body>
</html>
